<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vell.bibi.velllock"
    android:installLocation="internalOnly"
    android:minSdkVersion="4"
    android:versionCode="1"
    android:versionName="1.05" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" >
    </uses-permission>
    <!-- 允许程序禁用键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>
    <!-- 关屏后台运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <!-- 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <!-- 允许存储在外部储存器上（SDCard） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 文件系统使用 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- 广告 -->
        <activity
            android:name="cn.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation" />
        <!-- 以下属性为应用ID,从万普后台获取 -->
        <meta-data
            android:name="WAPS_ID"
            android:value="cb85351bbbdf4f3765f011903786831c" />
        <!-- 以下属性为分发渠道ID,编码表参见本文档末附表 -->
        <meta-data
            android:name="WAPS_PID"
            android:value="360" />
        <!-- 广告 -->
        
        <activity
            android:name="vell.bibi.setting.Appstart"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="vell.bibi.velllock.MyLockScreenService" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </service>

        <activity
            android:name="vell.bibi.setting.LockSetting"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="vell.bibi.velllock.VellLock"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="vell.bibi.network.DownloadMenu"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="vell.bibi.velllock.AboutVell001"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="vell.bibi.word.YoudaoActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="vell.bibi.network.Downloading"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.ShakeSetting"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.LockNumSetting"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.ReviewSetting"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.WordModeSetting"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.DBSetting"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="vell.bibi.setting.ThemeSetting"
            android:theme="@style/Anim_style2" />
        <activity android:name="vell.bibi.velllock.MSensor" />

        <!-- vellnote -->

        <receiver
            android:name="vell.bibi.vellnote.VellNote"
            android:label="VellNote" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vell_note_widget" />
        </receiver>

        <activity
            android:name="vell.bibi.vellnote.VellNoteConf"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="vell.bibi.vellnote.VellNoteEdit"
            android:theme="@style/Anim_style2" />

        <!-- WrongWord -->

        <receiver
            android:name="vell.bibi.word.WrongWordWidget"
            android:label="WrongWord" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="vell.AppWidgetBroadCast" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wrong_word_widget" />
        </receiver>

        <activity
            android:name="vell.bibi.word.WrongWordList"
            android:theme="@style/Anim_style2" />

        <!-- search -->
        <receiver
            android:name="vell.bibi.word.SearchWidget"
            android:label="VellSearch" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_widget" />
        </receiver>

        <!-- 注册一个 开机自启动receiver -->
        <receiver android:name="vell.bibi.velllock.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>